* {
  box-sizing: border-box;
}


body {
  padding-top: 70px;
  display: block;
  background-color: #f8f9fa;
  font-family: 'Inconsolata', monospace !important;
}

.language{
  display: inline !important;
  font-size: 25px !important;
}

nav {
  height: 65px;

}

ul.b {
  list-style: none;
}


ul.b li::before {
  content:"\2014\a0";
  color: #707c99;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}



.navbar-brand img {
  max-height: 50px;
  padding-left: 20px;
}

.navbar-brand {
  height: 55px;
  font-family: 'Inconsolata', monospace !important;
}

a.link-footer{
  color: black;
  text-decoration: none;
}

a.link-footer:hover{
  color: white;
  text-decoration: none;
}


a.myemail {
  color: #ba9dc9;
  text-decoration: none;
}

a.myemail:hover {
  color: #5fcfb3;
  text-decoration: none;
}



section {
  padding-bottom: 40px;
}




section h1 {
  padding-top: 30px;
    font-weight: 400;
  text-align: left;
}


section p {
  font-size: 16px;
  font-weight: 300;
  }



#thasadith{
  font-family: 'thasadith';
  font-size: 20px;
    }

#next-project{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
    }

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#hero img {
  max-width: 80%;
  width: 80%;
}

.seefolio {
  margin-top: 25px;
  color: white;
  font-weight: 500;
  background-color: #5fcfb3;
  width: 150px;
  border-radius: 50px;
  height: 40px;
  outline: none;
  border: none;
  }

  .seefolio:hover {
    background-color: #ba9dc9;
    outline: none;
    border: none;
    }



    #intro1 {
        background-color: #f8f9fa;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: left;
        font-size: 70px;
        font-family: 'Inconsolata', monospace;
        color: #6d5c5c;
        }

    .container-intro{
      padding-top: 50px;
      padding-bottom: 50px;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: center;
        }


.nyume {
  color: white;
  background-color: #707c99;
}

.light-text {
    color: #6d5c5c;
  }

#hero1 {

  background-color: #e4dded;
    }

  #hero2{
    background-color: #f4edf0;
  }

  #hero3{
    background-color: #e1f2ec;
  }


  hero4{
    background-color: #5fcfb3;
  }

  hr.horizontal{
    border: 1px solid teal;
  }

  h1{
    font-size: 45px;
    font-family: 'Inconsolata', monospace;
    color: #5fcfb3;
  }

  h2, .role{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: #6d5c5c;
  }

  .green{
    color: #e1f2ec;
  }


  .role2{
    font-size: 26px;
    font-family: 'Inconsolata', monospace;
    color: #6d5c5c;
  }

  h3{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: #6d5c5c;
  }

  h4, .role-w{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
  }



.dash, .dash1:hover, .dash2:hover, .dash5:hover {
  color: #ba9dc9;
  text-decoration: none;
}


.dash1 {
  color: #5fcfb3;
  font-size: 40px;
  text-decoration: none;
}

.dash2 {
  color: #5fcfb3;
  font-size: 20px;
  text-decoration: none;
}

.dash3{
  color: #707c99;
}


.dash4 {
  color: white;
  font-weight: bold;
}

.dash5 {
  color: #5fcfb3;
  text-decoration: none;
}

.dash6 {
  color: #707c99;
  font-size: 40px;
  text-decoration: none;
}



#footer {
  background-color: #5fcfb3;
  text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}


.symbol{
  color: white;
}


.myname {
  color: #ba9dc9;
  text-decoration: none;
}
.myname:hover {
  color: #5fcfbe;
  text-decoration: none;
}



p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.img-fluid {
  display: block;

  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-twin {
  flex: 50%;
padding-top: 20px;
  padding-left: 20px;
}



/* Create four equal columns that sits next to each other */
.col1, .col2, .col3 {
  margin-left: 10px;
  margin-right: 10px;
  flex: 50%;
  max-width: 50%;
}

.col1, .col2, .col3 img {
  vertical-align: middle;
  width: 100%;
}

#mybtn2{
  font-size: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #5fcfb3;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

#mytn2:hover {
  font-size: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ba9dc9;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #6d5c5c;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 10px;
}

#myBtn:hover {
  color: #ba9cd9;
  background-color: transparent;
}

#mybtn-side {
  font-size: 30px;
  border: none;
  outline: none;
  color: #5fcfb3;
  cursor: pointer;
  text-decoration: none;
}

#mybtn-side:hover {
  color: #ba9cd9;
}



.skills {
  line-height: 30px;
  }



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .col1, .col2, .col3 {
    flex: 100%;
    max-width: 100%;
  }
}


@media screen and (max-width: 900px) {
  header nav {
    position: 100%;
    width: 100%;
    height: 100%;

  }
}

/*nuova navbar overlay*/



#burger {
position: fixed;
right: 20px;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  opacity: 0.9;
    overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: right;
right: 65px;
color: white;


}

.overlay a {

  text-decoration: none;
  font-size: 50px;
color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #5fcfb3;
}



.overlay #closebtn {
  position: absolute;
color: #707c99;
  top: 0px;
    right: 20px;
  font-size: 60px;
}

@media screen and (max-width: 450px) {
  .overlay a {font-size: 30px}
  .overlay .closebtn {
  font-size: 40px;
  top: 0px;
  }
}

/* prova riduzione menu
@media screen and (max-width: 700px) {
  #myNav {
  width: 100%;
  }
}
*/

/*Trial Nuovo Video Gallery*/

.container-video {
  margin: 2rem 0;
    }

.video-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container .video{
height: 15rem;
width: 25rem;
margin: 2rem;
border: 1px outset #5fcfb3;
overflow:hidden;
}

.video-container .video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-container .video video:hover {
  transition: 2s linear;
  transform: scale(1.3);
}

.video-container .video .active{
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: auto;
  box-shadow: 0 0 0 100vh rgba(0, 0, .7);
  z-index: 1;
  }

.video-container .video .active:hover{
  transition: none;
  height: 70%;
  width: auto;
  transform: translate(-50%, -50%) scale(1);
}


/* Responsive layout - VIDEO */

@media screen and (max-width: 768px) {
  .video-container .video .active{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 70%;
    box-shadow: 0 0 0 100vh rgba(0, 0, .7);
    z-index: 1;
  }
}


@media screen and (max-width: 768px) {
  .video-container .video video:hover {
    transition: 2s linear;
    transform: scale(1.3);
  }
}

@media screen and (max-width: 768px) {
  .video-container .video .active:hover{
  transition: none;
  height: auto;
  width: 80%;
    }
}
/*END Trial Nuovo Video Gallery*/



/*Intro1 resize: If the screen size is 768px wide or less, set the font-size to 25px */
@media screen and (max-width: 768px) {
  #intro1 {
    font-size: 25px;
  }
}


/*Get-in-touch style*/

.get-in-touch{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f9fa;
}

.container-contact{
width: 80%;
padding: 20px;
}


.container-contact .row-contact{
  position: relative;
  width: 100%;
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.container-contact .row-contact .col-contact{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container-contact .row-contact .inputbox{
  position: relative;
  width: 100%;
  height: 40px;
  color: #6d5c5c;
}

.container-contact .row-contact .inputbox input,
.container-contact .row-contact .inputbox.textarea textarea{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000000;
 }

.container-contact .row-contact .inputbox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}


.container-contact .row-contact .inputbox input:focus + .text,
.container-contact .row-contact .inputbox input:valid + .text {
top: -35px;
left: -10px;
}

.container-contact .row-contact .inputbox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #ba9dc9;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container-contact .row-contact .inputbox input:focus ~ .line,
.container-contact .row-contact .inputbox input:valid ~ .line {
height: 100%;
}

.container-contact .row-contact .inputbox.textarea{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container-contact .row-contact .inputbox.textarea textarea{
  height: 100%;
  resize: none;
}

.container-contact .row-contact .inputbox textarea:focus + .text,
.container-contact .row-contact .inputbox textarea:valid + .text {
top: -35px;
left: -10px;
}

.container-contact .row-contact .inputbox textarea:focus ~ .line,
.container-contact .row-contact .inputbox textarea:valid ~ .line {
height: 100%;
}

input[type='submit'] {
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
  color: white;
  font-weight: 500;
  background-color: #5fcfb3;
  width: 150px;
  border-radius: 50px;
  height: 40px;
}
/*status button for Contact Form*/
#status {
position: absolute;
right: 20px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  border-radius: 100px;
  width: 100px;
  top: 800px;
left: 80px;
}

#status.success {
  position: absolute;
  background-color: #51f26f;
  color: white;
  width: 100px;
  top: 800px;
  left: 80px;
}


#status.error {
  position: absolute;
  background-color: #d62560;
color: white;
width: 100px;
top: 800px;
left: 80px;
}
